<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sportsFacility">
            <h2><span jhiTranslate="aktywneGliwiceApp.sportsFacility.detail.title">Sports Facility</span> {{ sportsFacility.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="aktywneGliwiceApp.sportsFacility.housingAssociationName">Housing Association Name</span></dt>
                <dd>
                    <span>{{ sportsFacility.housingAssociationName }}</span>
                </dd>
                <dt><span jhiTranslate="aktywneGliwiceApp.sportsFacility.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'aktywneGliwiceApp.SportsFacilityType.' + sportsFacility.type }}">{{ sportsFacility.type }}</span>
                </dd>
                <dt><span jhiTranslate="aktywneGliwiceApp.sportsFacility.location">Location</span></dt>
                <dd>
                    <div *ngIf="sportsFacility.location">
                        <a [routerLink]="['/location', sportsFacility.location?.id, 'view']">{{ sportsFacility.location?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sports-facility', sportsFacility.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
