<div>
    <h2 id="page-heading">
        <span jhiTranslate="aktywneGliwiceApp.sportsFacility.home.title">Sports Facilities</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sports-facility" [routerLink]="['/sports-facility/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="aktywneGliwiceApp.sportsFacility.home.createLabel">
            Create a new Sports Facility
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="sportsFacilities?.length === 0">
        <span jhiTranslate="aktywneGliwiceApp.sportsFacility.home.notFound">No sportsFacilities found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="sportsFacilities?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="aktywneGliwiceApp.sportsFacility.housingAssociationName">Housing Association Name</span></th>
                    <th scope="col" ><span jhiTranslate="aktywneGliwiceApp.sportsFacility.type">Type</span></th>
                    <th scope="col" ><span jhiTranslate="aktywneGliwiceApp.sportsFacility.location">Location</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sportsFacility of sportsFacilities ;trackBy: trackId">
                    <td><a [routerLink]="['/sports-facility', sportsFacility.id, 'view']">{{ sportsFacility.id }}</a></td>
                    <td>{{ sportsFacility.housingAssociationName }}</td>
                    <td jhiTranslate="{{ 'aktywneGliwiceApp.SportsFacilityType.' + sportsFacility.type }}">{{ sportsFacility.type }}</td>
                    <td>
                        <div *ngIf="sportsFacility.location">
                            <a [routerLink]="['/location', sportsFacility.location?.id, 'view']" >{{ sportsFacility.location?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/sports-facility', sportsFacility.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/sports-facility', sportsFacility.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(sportsFacility)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
